<html>
    <head>
        <title>JoBPortal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link type="text/css" rel="stylesheet" href="../public/index.css">
        <script>
           function link(val){
            window.location.href=val
           }
           function details(id){
            window.location.href=`https://jobportal-fefw.onrender.com/details?val=${id}`
           }
           
           setTimeout(()=>{
            let welcomemsg=document.getElementById('welcomemsg')
            welcomemsg.classList.add('disappear')
           },2000)

           function userportal(){
            window.location.href=`https://jobportal-fefw.onrender.com/employerportal`
           }
           
       </script>
    </head>
    <body>
        <dialog id="profileupdate" class=" w-[600px] rounded-lg">
            <div >
                <button class="float-right w-11 h-11 border-2 border-solid border-slate-900 rounded-full bg-slate-900 text-slate-50" onclick="profileupdate.close()">X</button>
                <center>
                    <img src="../public/images/logo.png" class="w-40 h-40 border-2 border-solid border-slate-950 rounded-full mt-1 mx-24 sm:mx-56 " >
                <form class="flex flex-col" method="post" action="/companypicupdate" enctype="multipart/form-data" id="apply_form" >
                    <label class="font-semibold"> Profile Update:-</label>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2 p-2" type="file" name="companyphoto" accept=".jpeg" required>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2" type="text" name="c_id" value="<%=data._id%>" hidden>
                    <button onclick="profileupdate.close()" class="rounded-lg bg-sky-500 w-20 h-11 mt-2.5 mx-auto font-semibold underline hover:bg-sky-400 hover:font-bold" >Submit</button>
                    </form> 
            </center>
            </div>
        </dialog>
        <dialog id="roleupdate" class=" w-[600px] rounded-lg">
            <div >
                <button class="float-right w-11 h-11 border-2 border-solid border-slate-900 rounded-full bg-slate-900 text-slate-50" onclick="roleupdate.close()">X</button>
                <center>
                    <img src="../public/images/logo.png" class="w-40 h-40 border-2 border-solid border-slate-950 rounded-full mt-1 mx-24 sm:mx-56 " >
                <form class="flex flex-col" method="post" action="/aboutupdate" id="profileupdateform" >
                    <label class="font-semibold"> Role:-</label>
                    <select class=" border-2 border-solid border-slate-900 rounded-lg m-2 font-semibold" id="select_com" name="role">
                        <option>Select Type</option>
                            <option value="Web Development">Web Development</option>
                            <option value="App Development">App Development</option>
                            <option value="UI/UX ARCHITECT">UI/UX ARCHITECT</option>
                            <option value="Software Tester">Software Tester</option>
                            <option value="Data Analyst">Data Analyst</option>
                            <option value="Machine Learning">Machine Learning</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="Sales Manager">Sales Manager</option>
                            <option value="IT Support">IT Support</option>
                    </select>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2" type="text" name="c_id" value="<%=data._id%>" hidden>
                    <button onclick="roleupdate.close()" class="rounded-lg bg-sky-500 w-20 h-11 mt-2.5 mx-auto font-semibold underline hover:bg-sky-400 hover:font-bold" >Submit</button>
                    </form> 
            </center>
            </div>
        </dialog>
        <dialog id="locationupdate" class=" w-[600px] rounded-lg">
            <div >
                <button class="float-right w-11 h-11 border-2 border-solid border-slate-900 rounded-full bg-slate-900 text-slate-50" onclick="locationupdate.close()">X</button>
                <center>
                    <img src="../public/images/logo.png" class="w-40 h-40 border-2 border-solid border-slate-950 rounded-full mt-1 mx-24 sm:mx-56 " >
                <form class="flex flex-col" method="post" action="/aboutupdate" id="profileupdateform" >
                    <label class="font-semibold"> Location:-</label>
                    <div class=" space-x-3 p-2">
                        <input  type="radio" name="location" value="Remote"  ><span class="font-semibold ">Remote</span>
                        <input  type="radio" name="location" value="HyBrid" ><span class="font-semibold ">HyBrid</span>
                        <input  type="radio" name="location" value="OnSite" ><span class="font-semibold ">OnSite</span>
                    </div>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2" type="text" name="c_id" value="<%=data._id%>" hidden>
                    <button onclick="locationupdate.close()" class="rounded-lg bg-sky-500 w-20 h-11 mt-2.5 mx-auto font-semibold underline hover:bg-sky-400 hover:font-bold" >Submit</button>
                    </form> 
            </center>
            </div>
        </dialog>

        <dialog id="aboutupdate" class=" w-[600px] rounded-lg">
            <div >
                <button class="float-right w-11 h-11 border-2 border-solid border-slate-900 rounded-full bg-slate-900 text-slate-50" onclick="aboutupdate.close()">X</button>
                <center>
                    <img src="../public/images/logo.png" class="w-40 h-40 border-2 border-solid border-slate-950 rounded-full mt-1 mx-24 sm:mx-56 " >
                <form class="flex flex-col" method="post" action="/aboutupdate" id="profileupdateform" >
                    <label class="font-semibold"> About:-</label>
                    <textarea class="border-2 border-solid border-slate-900 h-40 rounded-2xl my-2 " name="about" required><%=data.about%></textarea>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2" type="text" name="c_id" value="<%=data._id%>" hidden>
                    <button onclick="aboutupdate.close()" class="rounded-lg bg-sky-500 w-20 h-11 mt-2.5 mx-auto font-semibold underline hover:bg-sky-400 hover:font-bold" >Submit</button>
                    </form> 
            </center>
            </div>
        </dialog>

        <dialog id="qulalificationupdate" class=" w-[600px] rounded-lg">
            <div >
                <button class="float-right w-11 h-11 border-2 border-solid border-slate-900 rounded-full bg-slate-900 text-slate-50" onclick="qulalificationupdate.close()">X</button>
                <center>
                    <img src="../public/images/logo.png" class="w-40 h-40 border-2 border-solid border-slate-950 rounded-full mt-1 mx-24 sm:mx-56 " >
                <form class="flex flex-col" method="post" action="/aboutupdate" id="profileupdateform" >
                    <label class="font-semibold"> Qualifications:-</label>
                    <textarea class="border-2 border-solid border-slate-900 h-40 rounded-2xl my-2 "  name="qual" placeholder="Put fullstop at end of each line " required><%=data.Qualifications%></textarea>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2" type="text" name="c_id" value="<%=data._id%>" hidden>
                    <button onclick="qulalificationupdate.close()" class="rounded-lg bg-sky-500 w-20 h-11 mt-2.5 mx-auto font-semibold underline hover:bg-sky-400 hover:font-bold" >Submit</button>
                    </form> 
            </center>
            </div>
        </dialog>

        <dialog id="responsibiltyupdate" class=" w-[600px] rounded-lg">
            <div >
                <button class="float-right w-11 h-11 border-2 border-solid border-slate-900 rounded-full bg-slate-900 text-slate-50" onclick="responsibiltyupdate.close()">X</button>
                <center>
                    <img src="../public/images/logo.png" class="w-40 h-40 border-2 border-solid border-slate-950 rounded-full mt-1 mx-24 sm:mx-56 " >
                <form class="flex flex-col" method="post" action="/aboutupdate" id="profileupdateform" >
                    <label class="font-semibold"> Responsibilities:-</label>
                    <textarea class="border-2 border-solid border-slate-900 h-40 rounded-2xl my-2 " placeholder="Put fullstop at end of each line "  name="resp" required><%=data.Responsibilities%></textarea>
                    <input class="border-2 border-solid border-slate-900 h-11 rounded-2xl my-2" type="text" name="c_id" value="<%=data._id%>" hidden>
                    <button onclick="responsibiltyupdate.close()" class="rounded-lg bg-sky-500 w-20 h-11 mt-2.5 mx-auto font-semibold underline hover:bg-sky-400 hover:font-bold" >Submit</button>
                    </form> 
            </center>
            </div>
        </dialog>
        
            <div class="bg-green-500 w-6/12 sm:w-2/12 h-10 rounded-lg text-center pt-1 font-semibold mx-auto relative mt-1" id="welcomemsg">Welcome <%=udata.username%> </div>
                
        <div class="bg-slate-200 m-2 h-16 rounded-lg flex">
            <img onclick="homelogo()" src="../public/images/logo.png" class="w-20 cursor-pointer" >
            <form class=" visi w-[150px] bg-slate-200 mt-2.5 mx-auto sm:w-96" method="get" action="/search">
                <input type="search" placeholder="Search By Company" name="search" class="w-[150px] h-12 rounded-lg sm:w-96">
            </form>
            <button class="btn" onclick="window.location.href='/logout'">LogOut</button>
            <% let str3=data.companyname%>
            <% let nstr3=str3.split(".")%>
            <img  src="../public/images/<%=nstr3[0]%>.jpeg" class="w-10 sm:w-12 h-11 mt-3 mr-3 ml-1 sm:ml-3 cursor-pointer bg-slate-950 rounded-full" onclick="userportal()">
            
        </div>
        
                    

                    <div class=" m-2 flex flex-col sm:flex-row">
                        <img class=" w-[300px] h-[300px] border-2 mx-[30px] border-solid border-slate-900 rounded-full mr-2 mb-2 relative sm:h-[450px] sm:fixed sm:w-4/12 sm:mx-0 sm:mb-0" src="../public/images/<%=nstr3[0]%>.jpeg">
                        <div class="flex flex-row  ml-24 sm:ml-44 gap-3 mb-3 sm:mb-0 mt-10 sm:mt-96 sm:fixed">
                            <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="profileupdate.showModal()">Update Profile</button>
                            </div>
                        <div class="bg-slate-200 w-11/12 flex flex-col rounded-lg ml-[13px] sm:ml-[520px] p-3 sm:w-8/12">
                            <h1 class="text-3xl font-bold underline mx-auto"><%=data.companyname%></h1>
                            <h1 class="text-2xl font-bold mt-5">Role:- <%=data.Type%></h1>
                            <div class="flex flex-row mx-auto gap-3 mt-9">
                                <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="roleupdate.showModal()">Edit</button>
                                </div>
                            <h1 class="text-2xl font-bold mt-5"> Place Of Work:- <%=data.Location%></h1>
                            <div class="flex flex-row mx-auto gap-3 mt-9">
                                <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="locationupdate.showModal()">Edit</button>
                                </div>
                            <h1 class="text-base font-semibold mt-5"><span class="text-base font-bold underline">About Company:-</span> <%=data.about%></h1>
                            <div class="flex flex-row mx-auto gap-3 mt-9">
                                <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="aboutupdate.showModal()">Edit</button>
                                </div>
                            <div class="flex flex-col">
                            <h1 class="text-3xl font-bold underline mt-10 ">Qualifications </h1>
                            <%let str=data.Qualifications%>
                            <% let qual=str.split(".")%>
                            <% let len=qual.length%>
                            <ul >
                            <% while(len>=0){%>
                                <li class="text-xl font-semibold mt-3 "><%=qual[len]%></li>
                                <% len=len-1%>
                                <%}%>
                            </ul>
                            <div class="flex flex-row mx-auto gap-3 mt-9">
                                <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="qulalificationupdate.showModal()">Edit</button>
                                </div>
                            <h1 class="text-3xl font-bold underline mt-10 ">Responsibilities</h1>
                            <%let str2=data.Responsibilities%>
                            <% let qual2=str2.split(".")%>
                            <% let len2=qual2.length%>
                            <ul >
                            <% while(len2>=0){%>
                                <li class="text-xl font-semibold mt-3 "><%=qual2[len2]%></li>
                                <% len2=len2-1%>
                                <%}%>
                            </ul>
                            <div class="flex flex-row mx-auto gap-3 mt-9">
                                <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="responsibiltyupdate.showModal()">Edit</button>
                                </div>
                            </div>
                            <hr class="bottom-5 border-solid border-slate-950 mt-5">
                            <div class="flex flex-row mx-auto gap-3 mt-9">
                                <button class="bg-sky-500 rounded-lg font-bold w-36  border-2 border-solid border-slate-900 hover:bg-sky-400 hover:font-bold hover:underline h-12" onclick="link('<%=data.Link%>')">Linkdin Profile</button>
                            </div>
                        </div>
                    </div>
                    <center><h1 class="mx-auto bg-slate-800 font-bold text-slate-100">©Credits/Rights Reserved:- Taha</h1></center>

    </body>
</html>